<section class="catalog">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <div class="catalog-pictures-container">
      <div class="catalog-picture-wrapper">
        <picture>
          <source
            srcset="
              ../img/catalog/desktop/garmin-fenix-7X.png    1x,
              ../img/catalog/desktop/garmin-fenix-7X@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog/tablet/garmin-fenix-7X.png    1x,
              ../img/catalog/tablet/garmin-fenix-7X@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/catalog/mobile/garmin-fenix.png    1x,
              ../img/catalog/mobile/garmin-fenix@2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="catalog-picture"
            src="../img/catalog/mobile/garmin-fenix.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-picture-title">
          Garmin Fenix 7X Pro Sapphire Solar
        </h3>
        <p class="catalog-picture-text">€500</p>
      </div>
      <div class="catalog-picture-wrapper">
        <picture>
          <source
            srcset="
              ../img/catalog/desktop/garmin-marq.png    1x,
              ../img/catalog/desktop/garmin-marq@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog/tablet/garmin-marq.png    1x,
              ../img/catalog/tablet/garmin-marq@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/catalog/mobile/garmin-marq.png    1x,
              ../img/catalog/mobile/garmin-marq@2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="catalog-picture"
            src="../img/catalog/mobile/garmin-marq.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-picture-title">Garmin Marq Athlete</h3>
        <p class="catalog-picture-text">€450</p>
      </div>
      <div class="catalog-picture-wrapper">
        <picture>
          <source
            srcset="
              ../img/catalog/desktop/garmin-descent.png 1x,
              ../img/catalog/desktop/garmin-D2@2x.png   2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog/tablet/garmin-descent.png    1x,
              ../img/catalog/tablet/garmin-descent@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/catalog/mobile/garmin-descent.png    1x,
              ../img/catalog/mobile/garmin-descent@2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="catalog-picture"
            src="../img/catalog/mobile/garmin-descent.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-picture-title">Garmin Descent MK1</h3>
        <p class="catalog-picture-text">€680</p>
      </div>
      <div class="catalog-picture-wrapper">
        <picture>
          <source
            srcset="
              ../img/catalog/desktop/garmin-D2.png    1x,
              ../img/catalog/desktop/garmin-D2@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog/tablet/garmin-D2.png    1x,
              ../img/catalog/tablet/garmin-D2@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/catalog/mobile/garmin-D2.png    1x,
              ../img/catalog/mobile/garmin-D2@2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="catalog-picture"
            src="../img/catalog/mobile/garmin-D2.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-picture-title">Garmin D2 Delta PX</h3>
        <p class="catalog-picture-text">€380</p>
      </div>
      <div class="catalog-picture-wrapper catalog-picture-wrapper-hidden">
        <picture>
          <source
            srcset="
              ../img/catalog/desktop/garmin-fenix-6.png    1x,
              ../img/catalog/desktop/garmin-fenix-6@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog/tablet/garmin-fenix-6.png    1x,
              ../img/catalog/tablet/garmin-fenix-6@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="catalog-picture"
            src="../img/catalog/tablet/garmin-fenix-6.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-picture-title">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-picture-text">€400</p>
      </div>
      <div class="catalog-picture-wrapper catalog-picture-wrapper-hidden">
        <picture>
          <source
            srcset="
              ../img/catalog/desktop/tube-watch-S42.png    1x,
              ../img/catalog/desktop/tube-watch-S42@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog/tablet/tube-watch-S42.png    1x,
              ../img/catalog/tablet/tube-watch-S42@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="catalog-picture"
            src="../img/catalog/tablet/tube-watch-S42.png"
            alt=""
          />
        </picture>
        <h3 class="catalog-picture-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-picture-text">€395</p>
      </div>
    </div>
    <button class="catalog-btn catalog-btn-hidden" type="button">
      Show more
    </button>
  </div>
</section>
