<footer class="footer-pages">
  <div class="container">
    <div class="footer-pages-container">
      <div class="footer-block-top">
        <div class="footer-logo-social-tel-wrapper">
          <div class="footer-logo-social-wrapper">
            <a class="logo footer-menu" href="../index.html">watchcharm</a>
            <ul class="footer-list-icons list-icons">
              <li class="list-item-icons footerIconFacebook">
                <a class="list-link-icons footer-list-link-icons" href="">
                  <svg class="list-item-icon" width="18" height="18">
                    <use
                      href="../img/sprite-icons/icons.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="list-item-icons footerIconInstagram">
                <a class="list-link-icons footer-list-link-icons" href="">
                  <svg class="list-item-icon" width="18" height="18">
                    <use
                      href="../img/sprite-icons/icons.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="list-item-icons footerIconYoutube">
                <a class="list-link-icons footer-list-link-icons" href="">
                  <svg class="list-item-icon" width="18" height="18">
                    <use
                      href="../img/sprite-icons/icons.svg#icon-youtube"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </div>
        <h2 class="footer-title">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </h2>
      </div>
      <div class="footer-block-middle-after">
        <div class="footer-block-middle">
          <ul class="footer-list">
            <li class="footer-item">
              <a class="footer-link" href="../index.html">Home</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#about">About Us</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#catalog">Catalog</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#sale">Sale</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#reviews">Reviews</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#contact-us">Contact Us</a>
            </li>
          </ul>
          <address class="footer-address">
            <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
          </address>
        </div>
      </div>
      <div class="footer-block-bottom">
        <p class="footer-block-bottom-watch-spot">
          ©2023 The Watch Spot. All rights reserved.
        </p>
        <ul class="footer-list-privacy-policy">
          <li class="footer-item-privacy-policy">
            <a class="footer-link-privacy-policy" href="">Terms of Service</a>
          </li>
          <li class="footer-item-privacy-policy">
            <a class="footer-link-privacy-policy" href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
