<header class="header-page-wrapper">
  <div class="header-page">
    <div class="container container-header">
      <nav class="menu-nav">
        <a class="logo menu-logo" href="../index.html">watchcharm</a>
        <ul class="menu-list">
          <li class="menu-list-item">
            <a class="menu-list-link" href="../index.html">Home</a>
          </li>
          <li class="menu-list-item">
            <a class="menu-list-link" href="#about">About Us</a>
          </li>
          <li class="menu-list-item">
            <a class="menu-list-link" href="#catalog">Catalog</a>
          </li>
          <li class="menu-list-item">
            <a class="menu-list-link" href="#sale">Sale</a>
          </li>
          <li class="menu-list-item">
            <a class="menu-list-link" href="#reviews">Reviews</a>
          </li>
          <li class="menu-list-item">
            <a class="menu-list-link" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
      <ul class="list-icons">
        <li class="list-item-icons headerIconFacebook">
          <a class="list-link-icons menu-list-link-icons" href="">
            <svg class="list-item-icon" width="20" height="20">
              <use href="../img/sprite-icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="list-item-icons headerIconInstagram">
          <a class="list-link-icons menu-list-link-icons" href="">
            <svg class="list-item-icon" width="20" height="20">
              <use href="../img/sprite-icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="list-item-icons headerIconYoutube">
          <a class="list-link-icons menu-list-link-icons" href="">
            <svg class="list-item-icon" width="20" height="20">
              <use href="../img/sprite-icons/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="menu-burger-btn js-open-menu headerBurger">
        <svg class="menu-burger-icon" width="34" height="34">
          <use href="../img/sprite-icons/icons.svg#icon-menu-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
