<div class="mobile-menu js-menu-container">
  <div class="mobile-menu-container">
    <button class="mobile-menu-btn-close js-close-menu" aria-expanded="false">
      <svg class="mobile-menu-close-icon" width="34" height="34">
        <use href="../img/sprite-icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="">Home</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="">About Us</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="">Catalog</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="">Sale</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="">Reviews</a>
      </li>
      <li class="mobile-menu-list-item">
        <a class="mobile-menu-list-link" href="">Contact Us</a>
      </li>
    </ul>
    <ul class="mobile-menu-list-icons">
      <li class="mobile-list-item-icons">
        <a class="mobile-menu-list-link-icons" href="">
          <svg class="mobile-list-item-icon" width="18" height="18">
            <use href="../img/sprite-icons/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-list-item-icons">
        <a class="mobile-menu-list-link-icons" href="">
          <svg class="mobile-list-item-icon" width="18" height="18">
            <use href="../img/sprite-icons/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-list-item-icons">
        <a class="mobile-menu-list-link-icons" href="">
          <svg class="mobile-list-item-icon" width="18" height="18">
            <use href="../img/sprite-icons/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
