<section class="sale">
  <div class="container">
    <h2 class="section-title">Sale</h2>
    <div class="sale-wrapper">
      <div class="sale-picture-watches-wrapper">
        <div class="sale-picture-block-wrapper">
          <div class="sale-little-picture-wrapper">
            <picture class="saleWatch01">
              <source
                srcset="
                  ../img/sale/desktop/photo-watch01-desktop.png    1x,
                  ../img/sale/desktop/photo-watch01-desktop@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ../img/sale/tablet/photo-watch01-tablet.png    1x,
                  ../img/sale/tablet/photo-watch01-tablet@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/sale/mobile/photo-watch01-mobile.png    1x,
                  ../img/sale/mobile/photo-watch01-mobile@2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <img src="../img/sale/mobile/photo-watch01-mobile.png" alt="" />
            </picture>
          </div>
          <div class="sale-little-picture-wrapper">
            <picture class="saleWatch02">
              <source
                srcset="
                  ../img/sale/desktop/photo-watch02-desktop.png    1x,
                  ../img/sale/desktop/photo-watch02-desktop@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ../img/sale/tablet/photo-watch02-tablet.png    1x,
                  ../img/sale/tablet/photo-watch02-tablet@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/sale/mobile/photo-watch02-mobile.png    1x,
                  ../img/sale/mobile/photo-watch02-mobile@2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <img src="../img/sale/mobile/photo-watch02-mobile.png" alt="" />
            </picture>
          </div>
          <div class="sale-little-picture-wrapper">
            <picture class="saleWatch03">
              <source
                srcset="
                  ../img/sale/desktop/photo-watch03-desktop.png    1x,
                  ../img/sale/desktop/photo-watch03-desktop@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ../img/sale/tablet/photo-watch03-tablet.png    1x,
                  ../img/sale/tablet/photo-watch03-tablet@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/sale/mobile/photo-watch03-mobile.png    1x,
                  ../img/sale/mobile/photo-watch03-mobile@2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <img src="../img/sale/mobile/photo-watch03-mobile.png" alt="" />
            </picture>
          </div>
          <div class="sale-little-picture-wrapper">
            <picture class="saleWatch04">
              <source
                srcset="
                  ../img/sale/desktop/photo-watch04-desktop.png    1x,
                  ../img/sale/desktop/photo-watch04-desktop@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ../img/sale/tablet/photo-watch04-tablet.png    1x,
                  ../img/sale/tablet/photo-watch04-tablet@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/sale/mobile/photo-watch04-mobile.png    1x,
                  ../img/sale/mobile/photo-watch04-mobile@2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <img src="../img/sale/mobile/photo-watch04-mobile.png" alt="" />
            </picture>
          </div>
        </div>
        <div class="sale-big-picture-wrapper">
          <picture class="saleBigWatch">
            <source
              srcset="
                ../img/sale/desktop/photo-big-watch-desktop.png    1x,
                ../img/sale/desktop/photo-big-watch-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/sale/tablet/photo-big-watch-tablet.png    1x,
                ../img/sale/tablet/photo-big-watch-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/sale/mobile/photo-big-watch-mobile.png        1x,
                ../img/sale/mobile/photo-big-watch-mobile.png@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img src="../img/sale/mobile/photo-big-watch-mobile.png" alt="" />
          </picture>
        </div>
      </div>
      <div class="sale-description-block-wrapper">
        <h3 class="sale-description-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-description-product-tag">Product tag: 706587</p>
        <ul class="sale-description-list-price">
          <li class="sale-description-item-price-new">€1500</li>
          <li class="sale-description-item-price-old">€3000</li>
        </ul>
        <p class="sale-description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-description-list-characteristic">
          <li class="sale-description-item-characteristic">
            Fused carbon fiber
          </li>
          <li class="sale-description-item-characteristic">Grade-5 Titanuim</li>
          <li class="sale-description-item-characteristic">Athlete</li>
          <li class="sale-description-item-characteristic">Golfer</li>
          <li class="sale-description-item-characteristic">Commander</li>
          <li class="sale-description-item-characteristic">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
