.header-page-wrapper {
  position: relative;
}

.header-page {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-page::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(12, 12, 12, 0.1);
}

.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.menu-logo {
  color: #0c0c0c;
}

.menu-list {
  display: none;
}

.menu-list-icons {
  display: none;
}

.menu-burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #0c0c0c;
}

@media only screen and (min-width: 768px) {
  .header-page {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .logo {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-page {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .menu-list-icons {
    display: block;
  }

  .menu-burger-btn {
    display: none;
  }

  .menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 825px;
  }

  .menu-list {
    display: flex;
    column-gap: 40px;
  }

  .menu-list-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;

    padding-top: 26px;
    padding-bottom: 26px;
  }

  .list-icons {
    display: flex;
    column-gap: 10px;
  }
  .list-item-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-link-icons {
    width: 36px;
    height: 36px;

    border-radius: 10px;
    padding: 8px;
  }

  .menu-list-link-icons {
    border: 1px solid rgba(12, 12, 12, 0.1);
    fill: #0c0c0c;
  }
}
