.header-page {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.menu-logo {
  color: #0c0c0c;
}

.menu-burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #0c0c0c;
}
